body {
  background: white;
}


* {
  margin: 0;
  padding: 0;
}

/* nav bar */
nav {
  font-family: Roboto mono;
  position: fixed;
  width: 100%;
  z-index: 3000;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;


}

nav ul li {
  padding: 0 12px;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  color: black;
  display: flex;

}

nav ul li a:hover {
  font-weight: bolder;
  transition: 0.2s;
}


.logo img {
  width: 34px;
  padding: 0 8px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.logo:hover {
  cursor: pointer;
}

/* mainview */

.tagline {
  height: 636px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto mono;
  background-image: url(picture/mainbg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.taglineheading {
  color: black;
  font-family: Roboto mono;
  margin-top: 300px;
}


.taglinepara {
  color: black;
  font-family: Roboto mono;

}

/* text blocks */
.learnmore {
  color: grey;
  text-decoration: none;
}

.learnmore:hover {
  cursor: pointer;
  font-weight: bolder;
  color: black;
  transition: 0.2s;
}

.textblocks {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(picture/textblocksbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;


}



.block3,
.block2,
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  height: auto;
  width: auto;
  font-family: Roboto mono;
  position: relative;

}



.heading3,
.heading1,
.heading2 {
  color: black;
}

.body3,
.body2,
.body1 {
  margin-bottom: 100px;
  padding: 30px;
  color: black;
  text-align: center;
  font-size: large;
}

/* newsletter */

.subscribe-button {
  background: white;
  color: black;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}

.subscribe-button:hover {
  opacity: 0.7;
  cursor: pointer;
}


.subscribe-button:active {
  transform: scale(.96);
  background-color: black;
}


.textbar {
  border-radius: 8px;
  padding: 5px;
  font-size: small;
  border: none;
  width: 240px;

}

.textbar::placeholder {
  font-size: small;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
  height: 185px;
  margin-bottom: -150px;
  background-image: url(picture/textblocksbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.newsletter {
  color: black;
  font-family: Roboto mono;


}

.newsletterlogo {
  height: 35px;
  width: 35px;
  color: white;
}

/* back to top button */
.top {
  position: absolute;
  right: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.top img {
  width: 40px;
}

.top:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}



/* addressbar */
.addressbar {
  margin-top: 200px;
  height: auto;
  width: auto;
  padding: 50px;
  border: none;
  font-family: Roboto mono;
  border-radius: 215px;

}

.addressbar ul {
  list-style: none;
  padding-left: 0;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: black;
}

.footerlinks ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footerlinks ul li {
  padding: 0 12px;
}

.footerlinks ul li a {
  text-decoration: none;
  color: black;
}

.footerlinks ul li a:hover {
  font-weight: bolder;
  transition: 0.2s;
}


.address {
  color: black;
}



.youtubeicon,
.instaicon,
.githubicon,
.fbicon,
.fiverr {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;

}

.youtubeicon:hover,
.instaicon:hover,
.githubicon:hover,
.fbicon:hover,
.fiverr:hover {
  transform: scale(0.9);

}


/* slide show of product */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-image: url(picture/productbg5.jpg);
  height: auto;
  width: auto;
  border-radius: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.product-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: capitalize;
  font-family: Roboto mono;
  color: black;

}


.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 500px;
  margin-right: 60px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 3px;
  border-radius: 5px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  font-family: Roboto mono;


}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: auto;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  font-family: Roboto mono;

}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background-color: grey;
  color: black;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 0;
}

.product-brand {
  text-transform: uppercase;
  font-family: Roboto mono;

}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: black;
}

.price {
  font-weight: 800;
  font-size: 20px;
  font-family: Roboto mono;

}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
  font-family: Roboto mono;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.pre-btn:hover,
.nxt-btn:hover {
  background-color: lightgray 1;
}