body {
  background: linear-gradient(90deg, #00dbde, purple);
  color: white;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.strip {
  width: 100%;
  background-color: rgba(121, 121, 121, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  justify-content: baseline;
  z-index: 2000;
}

.logo {
  width: auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-family: Roboto mono;
  font-size: 28px;
  margin-top: -20px;
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  color: grey;
}



.stripcontents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Center the items horizontally */
  align-items: center;
  /* Center the items vertically */
  list-style: none;
  color: white;
  padding: 0;
  /* Remove default padding */
}

.stripcontents li {
  margin: 0;
}

.stripcontents li a {
  margin: 0 25px;
  /* Adjust spacing as needed */
  color: black;
  font-family: Roboto mono;
  text-decoration: none;
}

.stripcontents li a:hover {
  font-weight: bold;
  transition: 0.2s;
  background: linear-gradient(90deg, #00dbde, rgb(173, 12, 173));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

/* .hamburger {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 3px;
  border-radius: 10px;
}

.hamburger:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #00dbde, rgb(173, 12, 173));
  transform: rotate(180deg);
  transition: 0.5s;
} */

.tagline {
  height: 856px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto mono;
  background-image: url(picture/image.jpg);
  background-size: cover;


}

.taglineheading {
  background: linear-gradient(90deg, #00dbde, rgb(173, 12, 173));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  margin-top: 150px;
}


.taglinepara {
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;

}



.taglineheading,
.taglinepara {
  animation-name: taglineanimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}


.textblocks {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
  justify-content: space-around;
  text-align: left;
  background: linear-gradient(90deg, #00dbde, purple);
  font-family: Roboto mono;
}

.block1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 500px;
  background: linear-gradient(to right,
      rgba(20, 3, 3, 0.404),
      rgba(22, 5, 5, 0.548));
  padding: 30px;
  border-radius: 80px;



}

.heading1 {
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}


.block2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 500px;
  background: linear-gradient(to right,
      rgba(20, 3, 3, 0.404),
      rgba(22, 5, 5, 0.548));
  padding: 30px;
  border-radius: 80px;
}

.heading2 {
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.body2 {
  margin-bottom: 110px;
}

.learnmore {
  background: linear-gradient(90deg, black, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;

}

.learnmore:hover {
  cursor: pointer;
  font-size: bold;
}

.block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 400px;
  width: auto;
  font-family: Roboto mono;
  position: relative;
  /* Add this */
}

.block3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(picture/cristiano-firmani-tmTidmpILWw-unsplash.jpg);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}



.heading3 {
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.body3 {
  margin-bottom: 100px;
  padding: 30px;
}

.addressbar {
  margin-top: 200px;
  height: 150px;
  width: auto;
  padding: 100px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right,
      rgba(20, 3, 3, 0.404),
      rgba(22, 5, 5, 0.548));
  font-family: Roboto mono;
  border-radius: 215px;
  text-align: left;

}

.addressbar ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  font-weight: bold;
  transition: 0.2s;
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  cursor: pointer;
}

.addressbar .links,
.addressbar .about,
.addressbar .contactus {
  height: 150px;
  width: 300px;
  color: white;
}

.linklogo {
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
}


.linklogo:hover,
.contactlogo:hover,
.aboutlogo:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.address {
  color: black;
}

.aboutlogo,
.contactlogo {
  margin-left: 10px;
}

.linkheading,
.contactheading,
.officeheading {
  background: linear-gradient(90deg, #00dbde, rgb(173, 12, 173));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.subscribe-button {
  background: linear-gradient(30deg, rgb(201, 200, 200), grey);
  color: black;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}

.subscribe-button:hover {
  opacity: 0.7;
  cursor: pointer;
}


.subscribe-button:active {
  transform: scale(.96);
  background-color: black;
}


.textbar {
  border-radius: 8px;
  padding: 5px;
  font-size: small;
  border: none;
  width: 240px;

}

.textbar::placeholder {
  font-size: small;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  height: 185px;
  margin-bottom: -150px;
  background-color: black;
}


.newsletter {
  background: linear-gradient(90deg, white, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  font-family: Roboto mono;


}

.newsletterlogo {
  height: 35px;
  width: 35px;
  color: white;
}


@keyframes tiltAnimation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }
}

.newsletterlogo:hover {
  animation: tiltAnimation 1s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .textblocks {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    justify-content: space-around;
    text-align: left;
    background: linear-gradient(90deg, #00dbde, purple);
    font-family: Roboto mono;
  }

  .logo {
    display: none;
  }

  .block1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background: linear-gradient(to right,
        rgba(20, 3, 3, 0.404),
        rgba(22, 5, 5, 0.548));
    border-radius: 80px;



  }

  .heading1 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }


  .block2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    background: linear-gradient(to right,
        rgba(20, 3, 3, 0.404),
        rgba(22, 5, 5, 0.548));
    border-radius: 80px;
  }

  .heading2 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }

  .body2 {
    margin-bottom: 110px;
  }

  .learnmore {
    background: linear-gradient(90deg, black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;

  }

  .learnmore:hover {
    cursor: pointer;
    font-size: bold;
  }

  .block3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    font-family: Roboto mono;
    position: relative;
  }

  .block3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(picture/cristiano-firmani-tmTidmpILWw-unsplash.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }



  .heading3 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }

  .body3 {
    margin-bottom: 100px;
  }

  .addressbar {
    margin-top: 100px;
    height: auto;
    padding: 50px;
    border-radius: 160px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .links,
  .about,
  .contactus {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .linklogo,
  .contactlogo,
  .aboutlogo {
    visibility: hidden;
  }

  .address {
    text-align: center;
  }
}

@media screen and (max-width:900px) and (min-width:768px) {
  .textblocks {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    justify-content: space-around;
    text-align: left;
    background: linear-gradient(90deg, #00dbde, purple);
    font-family: Roboto mono;
  }

  .logo {
    display: none;
  }

  .block1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background: linear-gradient(to right,
        rgba(20, 3, 3, 0.404),
        rgba(22, 5, 5, 0.548));
    border-radius: 80px;



  }

  .heading1 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }


  .block2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    background: linear-gradient(to right,
        rgba(20, 3, 3, 0.404),
        rgba(22, 5, 5, 0.548));
    border-radius: 80px;
  }

  .heading2 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }

  .body2 {
    margin-bottom: 110px;
  }

  .learnmore {
    background: linear-gradient(90deg, black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;

  }

  .learnmore:hover {
    cursor: pointer;
    font-size: bold;
  }

  .block3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    font-family: Roboto mono;
    position: relative;
  }

  .block3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(picture/cristiano-firmani-tmTidmpILWw-unsplash.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }



  .heading3 {
    background: linear-gradient(90deg, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }

  .body3 {
    margin-bottom: 100px;
  }

  .addressbar {
    margin-top: 200px;
    height: auto;
    width: auto;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right,
        rgba(20, 3, 3, 0.404),
        rgba(22, 5, 5, 0.548));
    font-family: Roboto mono;
    border-radius: 215px;
    text-align: left;

  }

  .addressbar ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: black;

  }



  .addressbar .links,
  .addressbar .about,
  .addressbar .contactus {
    height: auto;
    width: auto;
    color: white;
  }

  .linklogo,
  .contactlogo,
  .aboutlogo {
    visibility: hidden;
  }


  .linklogo:hover,
  .contactlogo:hover,
  .aboutlogo:hover {
    transform: rotate(360deg);
    transition: 1s;
  }

  .address {
    color: black;
  }




}





















.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-family: Roboto mono;
  color: black;
  background: linear-gradient(90deg, black, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}


.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 3px;
  border-radius: 5px;
  color: black;
  right: 10px;
  top: 10px;
  text-transform: capitalize;

}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: auto;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  font-family: Roboto mono;

}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: black;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 0;
}

.product-brand {
  text-transform: uppercase;
  font-family: Roboto mono;

}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: -10px;
}

.price {
  font-weight: 800;
  font-size: 20px;
  font-family: Roboto mono;

}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.pre-btn:hover,
.nxt-btn:hover {
  background-color: lightgray 1;
}

/* 
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
} */